body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../img/ready_player_one_by_sepiawolf-d5iw7bc.jpg');
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.audiowide {
    font-family: 'Audiowide', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Audiowide', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-right {
    float: right !important;
    margin-right: 15px;
    margin-left: 15px;
}

.transparent {
    background-color: transparent;
}